
    textarea {
        width: 15%;
        height: 85px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #FFFFFF;
        resize: true;
        border-color: #000000;
        border-radius: 20px;
        position: relative;
        top: 275px;
        left: 30%;
        font-size: 14px;
      }
    div {
        background-color: lightgrey;
        width: 100%;
        padding: 25px;
        background-color: #00EE76;
        position: fixed;
    }
    input {

    }
